@model IEnumerable<ToDoList.Dto.TaskReadDto>;

@if (@Model.Any())
{
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Назва</th>
                <th scope="col">Термін</th>
                <th scope="col">Важливість</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
<tr>
    <th scope="row">@task.Name</th>
    <td>
        @task.EnrollDeadline.ToShortDateString()

        @*@Html.DisplayFor(modelItem => task.EnrollDeadline.ToShortDateString())*@
    </td>
    <td>
        @Html.DisplayFor(modelItem => task.Importance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => task.Status)
    </td>
    <td class="text-right">
        <a class="btn btn-secondary btn-sm text-white" onclick="showInPopup('@Url.Action("Details","Task",new {id=task.Id},Context.Request.Scheme)','Деталі завдання')">Details</a>
        <a class="btn btn-primary btn-sm text-white" onclick="showInPopup('@Url.Action("Edit","Task",new {id=task.Id},Context.Request.Scheme)','Редагування завдання')">Edit</a>
        <a class="btn btn-danger btn-sm text-white" onclick="showInPopup('@Url.Action("Delete","Task",new {id=task.Id},Context.Request.Scheme)','Видалити завдання')">Delete</a>
    </td>
</tr>
}
        </tbody>
    </table>
</div> }
else
{
<h3>Жодного завдання ще не додано!</h3>}
