@{
    Layout = null;
}

@model ToDoList.Dto.TaskReadDto

<h3>Ви дійсно хочете видалити це?</h3>
<form asp-action="DeleteTask" asp-controller="Task" asp-route-id="@Model.Id">

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Назва</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th scope="row">Опис</th>
                <td style="word-break: break-all;">@Model.Description</td>
            </tr>
            <tr>
                <th scope="row">Термін</th>
                <td>@Model.EnrollDeadline.ToShortDateString()</td>
            </tr>
            <tr>
                <th scope="row">Важливість</th>
                <td>@Html.DisplayFor(modelItem => modelItem.Importance)</td>
            </tr>
            <tr>
                <th scope="row">Статус</th>
                <td>@Html.DisplayFor(modelItem => modelItem.Status)</td>
            </tr>
        </tbody>
    </table>

    <div class="modal-footer">
        <input class="btn btn-danger" type="submit" value="Видалити" />
        <a class="btn btn-primary text-white" aria-hidden="true" data-dismiss="modal">Закрити</a>
    </div>
</form>

